.nav-container {
    width: 33.333vw;
    height: 10vh;
    box-sizing: border-box;
    left:0%;
    padding: 40px;
    position: fixed;
    margin-top: -5vh;
    text-align: center;
    direction: rtl;  
    background: linear-gradient(to bottom, #000000, #353535);

 }
 
 .logo{
     position: fixed;
    z-index: 100000;
    top: 1vh;
    right: 68%;
    width: 5vw;
    height: auto;
    cursor: pointer;
  }
  
 
 .nav-features {
   display: flex;
   flex-wrap: wrap;
   margin-top: -4vh;
    gap: 96px;  
    justify-content: center;
 }

 

 .nav-item h2 {
  font-size: 2rem;
     font-family: "HEEBO";
     font-weight: 400;
     color: #dbdbdb;
     margin-top: 0.5rem;
 }
 
 .nav-item h2:hover {
    cursor: pointer;
    font-family: "Heebo";
    color: #dbdbdb;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  }
  