.tag-filter {
  MARGIN-TOP: 3VH;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 30px;
  text-align: center; 
}

.tag-filter-content-wrapper {
  margin-bottom: -5px;
}

.filter-title {
  font-size: 4.5rem;
  color: #ddd;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

/* כאן הקונטיינר של התגיות מוגבל ל-1280 פיקסלים ומרכזי */
.tag-items-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tag-item {
  background-color: #444;
  color: #ddd;
  font-family: "Heebo", sans-serif;
  padding: 20px 30px;
  border-radius: 60px;
  cursor: pointer;
  user-select: none;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag-item:hover {
  background-color: #00abd6;
  color: white;
}

.tag-item.active {
  background-color:  #00abd6;
  color: white;
}

.tag-item input[type="checkbox"] {
  display: none;
}