.selected-media-details {
  width: 3840px;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  direction: rtl;
  background-color: var(--background-dark);
}


.media-date,
.media-description {
  font-family: "Heebo";
  font-size: 8rem;
  color: white;
}


.media-info h2{
    font-family: "Karantina";
    font-size: 20rem;
    color: #2c3e50;
    margin-top: 0.5rem;
    background: linear-gradient(90deg, #818181, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
