.app-container {
  display: flex;
  width: 11520px;
  height: 100vh;
  overflow: hidden;
  direction: rtl;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
.screen {
  width: 3840px;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
}

.right-screen {
  background: linear-gradient(to right, #5b5b5b, #888888);
}

.center-screen {
  background: linear-gradient(to right, #000000, #5b5b5b);
}
.center-screen p{
  display: none;
}


.left-screen {
  background-color: #131313;
  
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
    direction: rtl;
}
.logo{
  position: relative;
  top: 2vh;
  right: 3%;
  width: 6vw;
  height: auto;
  cursor: pointer;
}
